<h1>メモアプリ</h1>
<form method="post" action="/editMemo/<%= @id %>/update">
  <p><input type="textarea" name="title" value="<%= @title %>"></p>
  <p><input type="textarea" name="body" value="<%= @body %>"></p>
  <p><input type="submit" value="変更"></p>
</form>