<table>
  <tr>
    <td>
      <h1>メモアプリ</h1>
    </td>
    <td>
      <form method="get" action="/newMemo">
        <input type="submit" value="追加">
      </form>
    </td>
  </tr>
</table>

<%= @h %>