<h1><a href="/">メモアプリ</a></h1>
<div class="content">
  <form method="post" action="/memos">
    <input type="text" class="textBoxTitle" required maxlength='20' name="title" value="">
    <textarea class="textBoxBody" required maxlength='500' name="body" value=""></textarea>
    <div class="btnArea">
      <input type="submit" value="保存">
    </div>
  </form>
</div>
