<h1>メモアプリ</h1>
<div class="content">
  <form method="post" action="/memos">
    <p><input type="text" class="textBoxTitle" required maxlength='20' name="title" value=""></p>
    <p><textarea class="textBoxBody" required maxlength='500' name="body" value=""></textarea></p>
    <div class="btnArea">
      <p><input type="submit" value="保存"></p>
    </div>
  </form>
</div>